<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">File Upload</a>
            </p>
        </div>
    </div>
</header>
<div id="body">
    <form name="form1" method="post" action="http://api.qrserver.com/v1/read-qr-code/" enctype="multipart/form-data">
        <div>
            <label>
                Browse File
            </label>
            <input name="myFile" type="file" />
        </div>
        <div>
            <input type="submit" value="Upload" />
        </div>
    </form>
